.register_country_countries_section {position: relative;
    float: left;
    width: 100%;}
.register_country_countries_section fieldset {background: linen;}
.register_country_countries_section legend {font-weight: bold;
    font-size: 1.2em;}
.register_country_countries_section .form-item {line-height: 100%;
    padding: 0 0 0 0;}

/* If you want to change the number of entries per line, change the "width" parameter below.
   Make sure that the total width per line does not exceed 96% because some browsers have
   a problem when it comes out to 100%. */

.register_country_country {position: relative;
    float: left;
    width: 32%;
    font-size: 0.75em;}